@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "";
}

<div class="row p-5 m-0 g-4" style="height: 100vh; align-items: center; justify-content: center;">
    <div class="col">
        <div class="card h-100">
            <a href="/w"><img class="card-img-top" src="https://picsum.photos/id/101/500/500" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="/w">Watch together</a></h5>
                <p class="card-text">Совместный просмотр видео с YouTube, jut.su, yummyanime.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <a href="/s"><img class="card-img-top" src="https://picsum.photos/id/102/500/500" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="/s">Просмотр заказаных видео</a></h5>
                <p class="card-text">Автораспределение заказаных видео с донат-системы по очередям и их смотр.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <a href="/st"><img class="card-img-top" src="https://picsum.photos/id/104/500/500" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="/st">Просмотр заказаных видео together</a></h5>
                <p class="card-text">Соединение двух прошлых систем - просмотр заказаных видео вместе.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <a href="/d"><img class="card-img-top" src="https://picsum.photos/id/100/500/500" alt="Card image cap"></a>
            <div class="card-body">
                <h5 class="card-title"><a href="/d">Музыкальная пауза</a></h5>
                <p class="card-text">Автоподхват музыки из донат-системы и автопроигрывание музыки <span class="text-danger">без <span title="Авторских прав">АП</span></span></p>
            </div>
        </div>
    </div>
</div>